<span
  class="inline-flex items-center rounded-full px-3 py-1.5 text-sm font-medium bg-emerald-50 dark:bg-emerald-500/10 text-emerald-700 dark:text-emerald-400 ring-1 fill-emerald-500 dark:fill-emerald-400 transition-colors select-none ring-inset ring-emerald-600/20 dark:ring-emerald-500/20"
>
  <slot />
</span>
