---
import { ACCENT_COLOR } from "src/config";
import colors from "tailwindcss/colors";
---

<div
  class="relative isolate bg-base-950 section pointer-events-none overflow-hidden"
  id="contact"
>
  <div class="mx-auto max-w-5xl sm:px-6 lg:px-8">
    <div
      class="relative isolate overflow-hidden px-6 py-16 text-center pointer-events-auto"
    >
      <h2 class="text-balance text-3xl font-semibold text-white">
        use this website as a template
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-md text-base-300">
        this website is open source and available on github. you can use it as a
        template for your own projects.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-base-900 shadow-sm hover:bg-base-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Get started</a
        >
        <a href="#" class="text-sm/6 font-semibold text-white"
          >Learn more <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>

  <svg
    viewBox="0 0 1024 1024"
    class="absolute left-1/2 top-1/2 -z-10 size-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
    aria-hidden="true"
  >
    <circle
      cx="512"
      cy="512"
      r="512"
      fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)"
      fill-opacity="0.7"></circle>
    <defs>
      <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
        <stop stop-color={colors[ACCENT_COLOR][900]}></stop>
        <stop offset="1" stop-color={colors[ACCENT_COLOR][500]}></stop>
      </radialGradient>
    </defs>
  </svg>
</div>
