<div
  class="h-52 sm:h-96 w-full mt-6 max-w-2xl px-4 sm:px-6 md:max-w-5xl md:px-8 mx-auto"
>
  <iframe
    src="https://flo-bit.github.io/text_effect_fluid/"
    title="fluid text effect demo"
    class="w-full h-full border border-white/10 bg-base-900/20 rounded-3xl"
  ></iframe>
</div>
