---
import BaseHead from "../components/BaseHead.astro";
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full antialiased dark">
  <head>
    <BaseHead title={title} description={description} image={image} />

    <style is:global>
      html.dark .astro-code,
      html.dark .astro-code span {
        color: var(--shiki-dark);
      }

      html:not(dark) .astro-code,
      html:not(dark) .astro-code span {
        color: var(--shiki-light);
      }

      pre {
        @apply overflow-hidden !important;
        @apply border border-base-300 dark:border-base-800 bg-base-200/50 dark:bg-base-800/30 rounded-xl !important;
      }

      .line.highlighted {
        margin: 0 -24px;
        padding: 0 24px;
        position: relative;

        display: inline-block;
        width: calc(100% + 48px);
      }
      .line.highlighted {
        @apply bg-accent-500/10 dark:bg-accent-700/10;
      }

      ::selection {
        @apply bg-accent-300/50 dark:bg-accent-900/40;
      }

      lite-youtube {
        @apply rounded-xl border border-base-300 dark:border-base-800;
      }

      .prose mark {
        @apply bg-accent-200 dark:bg-accent-900 text-black dark:text-white;
      }
    </style>

    <script is:inline>
      var mostVisible = (function () {
        "use strict";
        function t(e, n) {
          "string" == typeof e && (e = document.querySelectorAll(e));
          const r = { ...t.defaults, ...n };
          return Array.from(e).reduce(
            (t, e) => {
              let [n, o] = t;
              const u = (function (t, e, n) {
                const r = document.documentElement.clientHeight,
                  o = t.getBoundingClientRect(),
                  u = o.top - e,
                  i = o.bottom - e,
                  c = o.bottom - o.top,
                  f = u >= 0 && u < r,
                  s = i > 0 && i < r,
                  l = (() => {
                    if (f) return s ? c : r - o.top;
                    if (s) return i;
                    if (c > r && u < 0) {
                      const t = Math.abs(u);
                      if (t < c) return c - t;
                    }
                    return 0;
                  })();
                return n ? (l / c) * 100 : l;
              })(e, r.offset, r.percentage);
              return u > n ? [u, e] : [n, o];
            },
            [0, null]
          )[1];
        }
        return (
          (t.defaults = { percentage: !1, offset: 0 }),
          window &&
            window.jQuery &&
            (function (t, e) {
              t.fn.mostVisible = function (t) {
                return this.filter(e(this.get(), t));
              };
            })(window.jQuery, t),
          t
        );
      })();
    </script>
  </head>

  <body
    class="w-full h-full bg-base-950 transition-colors duration-150 dark:transition-color dark:duration-150 lowercase"
  >
    <slot />
  </body>
</html>
